################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data Monitoring Application (Webserver)/.vs/Data Monitoring Application (Webserver)/config/applicationhost.config
