################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Webserver/Automated_Enviroment_Controller/.vs/Automated_Enviroment_Controller
/Webserver/.vs/Automated_Enviroment_Controller
