################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Automated_Enviroment_Controller/.vs/Automated_Enviroment_Controller
