@page
@model Data_Monitoring_Application.Pages.IndexModel
@{
    ViewData["Title"] = "Current Conditions";
}

<h1>Overview over the current environment conditions.</h1>
<br />
<div id="overviews-container"></div>
<br />
<br />

<script>
    createOverviewDivsContent(@Json.Serialize(Model.CurrentDataAndThreshold), [["Temperature", "°C"], ["Light", "lux"]]);
</script>